name: Build Kivy APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y gettext autoconf automake autopoint libtool pkg-config openjdk-11-jdk

    - name: Install Android SDK and accept licenses
      run: |
        # Установка Android Command Line Tools (включает sdkmanager)
        wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip -O cmdline-tools.zip
        mkdir -p ~/android-sdk/cmdline-tools
        unzip cmdline-tools.zip -d ~/android-sdk/cmdline-tools
        mv ~/android-sdk/cmdline-tools/cmdline-tools ~/android-sdk/cmdline-tools/latest

        # Экспорт переменных
        export ANDROID_SDK_ROOT=~/android-sdk
        export PATH=$PATH:$ANDROID_SDK_ROOT/cmdline-tools/latest/bin

        # Принятие лицензий
        yes | sdkmanager --licenses

        # Установка нужных пакетов
        yes | sdkmanager "build-tools;33.0.0" "platform-tools" "platforms;android-33"

    - name: Install Buildozer and Cython
      run: |
        pip install buildozer cython==0.29.32

    - name: Build APK
      run: |
        buildozer -v android debug

    - name: Upload APK artifact
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
